In [1]:
import pandas as pd

In [2]:
serie = pd.Series([10, 20, 30]) #estrutura unidimensional - vetor
print(serie)

0    10
1    20
2    30
dtype: int64

In [3]:
dados = {
    'nome': ['Ana', 'Bia', 'Carlos'],
    'idade': [30, 10, 18]
}
df = pd.DataFrame(dados) #estrutura bidimensional - matriz
print(df)

     nome  idade
0     Ana     30
1     Bia     10
2  Carlos     18

In [52]:
ler_base = pd.read_csv('/content/df_analise.csv', encoding='utf-8') # Ler o arquico CSV separado por virgulas
print(ler_base)

  Nome;Idade;Cidade;Coluna1;Coluna2;Coluna3
0                       Ana;25;São Paulo;;;
1                Bruno;32;Rio de Janeiro;;;
2               Carlos;28;Belo Horizonte;;;
3                    Daniela;45;Curitiba;;;

In [53]:
ler_base = pd.read_csv('df_analise.csv') # Ler o arquico CSV separado por virgulas
print(ler_base)

  Nome;Idade;Cidade;Coluna1;Coluna2;Coluna3
0                       Ana;25;São Paulo;;;
1                Bruno;32;Rio de Janeiro;;;
2               Carlos;28;Belo Horizonte;;;
3                    Daniela;45;Curitiba;;;

In [54]:
print(ler_base.head(2)) #imprime as 3 primeiras linhas

  Nome;Idade;Cidade;Coluna1;Coluna2;Coluna3
0                       Ana;25;São Paulo;;;
1                Bruno;32;Rio de Janeiro;;;

In [55]:
print(pd.DataFrame(ler_base)) #imprime todas linhas e colunas

  Nome;Idade;Cidade;Coluna1;Coluna2;Coluna3
0                       Ana;25;São Paulo;;;
1                Bruno;32;Rio de Janeiro;;;
2               Carlos;28;Belo Horizonte;;;
3                    Daniela;45;Curitiba;;;

In [56]:
ler_base = pd.read_csv('df_analise.csv', sep=';') # Ler o arquico CSV separado por virgulas em tabela
print(ler_base)#imprime tabela completa

      Nome  Idade          Cidade  Coluna1  Coluna2  Coluna3
0      Ana     25       São Paulo      NaN      NaN      NaN
1    Bruno     32  Rio de Janeiro      NaN      NaN      NaN
2   Carlos     28  Belo Horizonte      NaN      NaN      NaN
3  Daniela     45        Curitiba      NaN      NaN      NaN

In [57]:
print(ler_base.dropna())#remove todas as colunas com pelo menos 1 linha vazia

Empty DataFrame
Columns: [Nome, Idade, Cidade, Coluna1, Coluna2, Coluna3]
Index: []

In [58]:
ler_base = ler_base.dropna(axis=1, how='all')#remove todas as colunas vazias
print(ler_base)

      Nome  Idade          Cidade
0      Ana     25       São Paulo
1    Bruno     32  Rio de Janeiro
2   Carlos     28  Belo Horizonte
3  Daniela     45        Curitiba

In [59]:
ler_base = ler_base.dropna()#imprime somente as linhas e colunas preenchidas
print(ler_base)

      Nome  Idade          Cidade
0      Ana     25       São Paulo
1    Bruno     32  Rio de Janeiro
2   Carlos     28  Belo Horizonte
3  Daniela     45        Curitiba

In [60]:
print(ler_base.describe())#imprime estatisticas descritivas

           Idade
count   4.000000
mean   32.500000
std     8.812869
min    25.000000
25%    27.250000
50%    30.000000
75%    35.250000
max    45.000000

In [63]:
print(ler_base.loc[1])#imprimir item da 2ª linha

Nome               Bruno
Idade                 32
Cidade    Rio de Janeiro
Name: 1, dtype: object

In [62]:
print(ler_base.loc[1, 'Nome'])#Nome da 2ª linha somente

Bruno

In [65]:
print(ler_base.iloc[1, 2]) #Item localizado na 2ª linha e na 3ª coluna

Rio de Janeiro

In [67]:
print(ler_base.groupby('Nome').mean())#agrupamento poor nome

TypeError: agg function failed [how->mean,dtype->object]

In [71]:
df = pd.DataFrame({
    'Departamento': ['TI', 'RH','TI', 'RH'],
    'Salario': [1000, 2000, 3000, 4000]
})
grupo = df.groupby('Departamento')
print(grupo.mean())
#Média salarial dos setores

              Salario
Departamento
RH             3000.0
TI             2000.0

In [70]:
merge, drop, fillna

NameError: name 'merge' is not defined