In [1]:
import pandas as pd

### Exemplos

Dicinários gerados com coleta manual de dados de gols pró e gols contra do campeonato brasileiro de 2025 até a 8ª rodada.

In [2]:
gols_pro = {"Flamengo":17,
            "Fluminense":10,
            "Vasco":7,
            "Botafogo":10,
            "Palmeiras":9,
            "Corinthians":11,
            "São Paulo":6,
            "Santos":7}

In [3]:
gols_contra = {"Flamengo":4,
            "Fluminense":10,
            "Vasco":11,
            "Botafogo":5,
            "Palmeiras":3,
            "Corinthians":14,
            "São Paulo":6,
            "Santos":10}

### Criando Series

In [4]:
series_pro = pd.Series(gols_pro)
series_contra = pd.Series(gols_contra)

### A partir dos gols pró e gols contra, passa a ser possível calcular o saldo de gols

Retornar Serie com o saldo de gols a partir de operação entre as duas séries existentes.

In [5]:
serie_saldo_gols = series_pro - series_contra

In [6]:
display(serie_saldo_gols)

Flamengo       13
Fluminense      0
Vasco          -4
Botafogo        5
Palmeiras       6
Corinthians    -3
São Paulo       0
Santos         -3
dtype: int64

Retornar Serie com valores booleanos da verificação de saldo positivo (maior que zero)

In [7]:
serie_saldo_positivo = series_pro > series_contra

In [8]:
display(serie_saldo_positivo)

Flamengo        True
Fluminense     False
Vasco          False
Botafogo        True
Palmeiras       True
Corinthians    False
São Paulo      False
Santos         False
dtype: bool

O mesmo resultado pode ser obtido usando a Serie de saldo de gols, criada inicialmente

In [15]:
serie_saldo_positivo = serie_saldo_gols > 0

In [16]:
display(serie_saldo_positivo)

Flamengo        True
Fluminense     False
Vasco          False
Botafogo        True
Palmeiras       True
Corinthians    False
São Paulo      False
Santos         False
dtype: bool

Retornando uma nova Serie com a verificação de quais equipes possuem gols pró a partir de 10

In [9]:
serie_maior_que_10_gols = series_pro >= 10

In [10]:
display(serie_maior_que_10_gols)

Flamengo        True
Fluminense      True
Vasco          False
Botafogo        True
Palmeiras      False
Corinthians     True
São Paulo      False
Santos         False
dtype: bool

Criando uma Serie para verificar situações em que as duas afirmações sejam verdadeiras

In [17]:
serie_resultado = serie_maior_que_10_gols & serie_saldo_positivo

In [18]:
display(serie_resultado)

Flamengo        True
Fluminense     False
Vasco          False
Botafogo        True
Palmeiras      False
Corinthians    False
São Paulo      False
Santos         False
dtype: bool

A partir do resultado buscado, o resultado pode ser convertido em uma lista para retornar **quais** são as equipes que atendem ambos os critérios

In [19]:
resultado = serie_resultado[serie_resultado == True].index.to_list()

In [20]:
print(resultado)

['Flamengo', 'Botafogo']